h1, h2, h3, h4 {
  color: #026992;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}

p.caption {
  color: #777;
  margin-top: 10px;
}

pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

p code {
  white-space: inherit;
}


.book .book-body .page-wrapper .page-inner section.normal pre {
  border: 1px solid #c9c9c9;
  box-shadow: 1px 1px 1px #d8d8d8;
}

.book .book-body .page-wrapper .page-inner section.normal pre.python_output {
  background: #080808;
}
.book .book-body .page-wrapper .page-inner section.normal pre.python_output code {
  color: white
}
.book .book-body .page-wrapper .page-inner section.normal code {
  color: #bd1481;
  background-color: #ffffff00;;
  padding: 0;
  font-size: 1em;
}
.book .book-body .page-wrapper .page-inner section.normal code::before {
  content:"";
}
.book .book-body .page-wrapper .page-inner section.normal code::after {
  content:"";
}
/* .book .book-body .page-wrapper .page-inner section.normal pre {
    background: #dce3f5;
} */

code.sourceCode > span{
  color: black;
}
div.sourceCode {
  background-color: #ffffff;
}

.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
  background-size: 50px 50px;
  background-position: 10px 10px;
  box-shadow: 2px 2px 2px #d8d8d8;
  border-radius: .5em;
}
.rmdcaution {
  background-image: url("../images/caution.png");
}
.rmdimportant {
  background-image: url("../images/important.png");
}
.rmdnote {
  background-image: url("../images/note.png");
  border: 3px solid #8cd2f3;
}
.rmdtip {
  background-image: url("../images/idea.png");
  border: 3px solid #2aa23a;
}
.rmdwarning {
  background-image: url("../images/warning.png");
}

.book .book-summary {
  background-color: #026992;

}

.book .book-summary ul.summary li a {
  padding: 10px 5px 5px 5px;
  color: #ffffff;
}

.book .book-summary ul.summary li.active>a {
  color: #ffcc00;
}

.book .book-summary ul.summary li a:hover {
  background-color: #99afc4;
  color: #3b556e;
}