code span.im {
    color: #008000;
    font-weight: bold;
}

code span.im {
    color: #008000;
    font-weight: bold;
}

code span.op {
    color: #aa22ff;
    font-weight: bold;
}

code span.bu {
    color: black;
}

code span.st {
    color: #ba2121;
}

code span.dv {
    color: #008000;
}

code span.va {
    color: #008000;
    font-weight: bold;
}

code span.fl {
    color:#008000;
}
